footer{
    position: relative;
    width: 100%;
    padding: 30px 10vw;
    padding-bottom: 80px;
    background: #383838;
}

.footer-content{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.footer-content .logo{
    height: 80px;
}

.info{
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 12px; 
}

.footer-title{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.75); 
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 20px;
}

.footer-social-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.social-link{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.social-link:nth-child(1){
    margin-left: 0;
}

.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.footer-contact {
    color: #fff;
}

.footer-contact .form-group {
    margin-bottom: 20px;
}

/* .footer-contact input[type="text"],
.footer-contact input[type="email"], */
.footer-contact input,
.footer-contact input,
.footer-contact textarea {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    color: #000;
}

.footer-contact textarea {
    min-height: 75px;
    resize: vertical;
}

.footer-contact button[type="submit"] {
    background: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.footer-contact button[type="submit"]:hover {
    background: #999998;
}

.form-messages {
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.success-message {
    color: green; 
}

.error-message {
    color: red;
}