@import 'nav.css';
@import 'footer.css';

.hero-section{
    width: 100%;
    height: calc(80vh - 120px);
    background-image: url('../img/header.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .logo{
    height: 150px;
    display: block;
    margin: auto;
}

.hero-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}

.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 5px;
}

.product-thumb{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 2;
}

.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 5px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}


.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn, .nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn{
    right: 0;
}

.pre-btn img, .nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img{
    opacity: 1;
}

.size-container {
    display: flex;
    gap: 5px;
}
  
.size-button {
    
    justify-content: space-between;
    padding: 5px 5px; 
    gap: 5px;
    border: 1px solid #888; 
    cursor: pointer;
    background: #fff;
    border-radius: 55px;
    color: #010101;
    text-transform: capitalize;
} 
  
.size-button.selected {
    background-color: #333;
    color: rgb(245, 241, 241); 
}

@media screen and (max-width: 768px) {
    .hero-section .logo {
        max-height: 100px;
    }

    .hero-section .sub-heading {
        font-size: 28px;
    }

    .product-container {
        flex-direction: column; /* Cambia la dirección de flexión a columna */
        align-items: center;
    }

    .pre-btn, .nxt-btn {
       display: none;
    }

    .product-card {
        max-width: none; /* Elimina el ancho máximo */
        margin-right: 10px; /* Ajusta el espacio entre las tarjetas */
    }

    .size-button {
        padding: 5px 8px; /* Ajusta el espaciado para los botones de tamaño */
    }
    .card-btn{
        opacity: 1;
    }
}

@media screen and (max-width: 420px) {
    .hero-section .logo {
        max-height: 80px;
    }

    .hero-section .sub-heading {
        font-size: 24px;
    }

    .product-card {
        max-width: none; /* Elimina el ancho máximo */
        margin-right: 10px; /* Ajusta el espacio entre las tarjetas */
    }

    .size-button {
        padding: 5px 5px; /* Restaura el espaciado original de los botones de tamaño si es necesario */
    }
}

/* Estilos para pantallas de 320px y superiores */

@media screen and (max-width: 320px) {
    .hero-section .logo {
        max-height: 60px;
    }

    .hero-section .sub-heading {
        font-size: 20px;
    }

    .product-card {
        max-width: none; /* Elimina el ancho máximo */
        margin-right: 10px; /* Ajusta el espacio entre las tarjetas */
    }

    .size-button {
        padding: 5px 5px; /* Restaura el espaciado original de los botones de tamaño si es necesario */
    }
}
