*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
    
}

.nav{
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 10px;
    
}

.brand-logo{
    height: 60px;
}

.nav-items{
    display: flex;
    align-items: center;
    
}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}

.links-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}

.cart-number{
    position: absolute;
    top: 8px;
    right: 1px;
    background: #ff6347;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
    margin-top: 15px;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 4px 0;
}

.categories {
    position: absolute;
    top: 70%;
    left: 0;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-top: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.categories.active {
    max-height: 300px;
}

@media (max-width: 768px) {
    .links-container {
        display: none;
    }

    .menu-toggle {
        display: block; 
    }

    .categories {
        display: none; 
    }
    .categories li::before {
    content: none; 
    }
    
    .menu-toggle.active + .categories {
        display: block; 
    }

    
    .brand-logo {
        display: block; 
    }
}